@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

body {
  padding-top: 70px; /* to accomodate top-fixed-navbar */
  padding-bottom: 20px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar {
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 0px;
  border: none; /* reset the border set by bootstrap .navbar */
}

.navbar-top-border {
  border-bottom: 1px solid transparent;
  border-color: #c8c8c8;
}

#navbar-header-brand-img {
  display: inline-block;
  margin-right: 15px;
}

.content {
  padding-bottom: 70px; /* to accomodate bottom-fixed-navbar */
}

.navbar-bottom {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 0px;
  border: none; /* reset the border */
}

.navbar-bottom-border {
  border-top: 1px solid transparent;
  border-color: #c8c8c8;
}

/* Index Page */
#index-logo {
  margin: 0px auto;
}