{% extends "layout.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row top-buffer">
            <div class="col-md-4 col-md-push-2">
                <div class="logo vdivider">
                    <img src="{{ url_for('static', filename='img/favicon.svg') }}"
                         alt="MileIO"
                         class="img-responsive center-block">
                </div>
            </div>
            <div class="col-md-5 col-md-push-2">
                <h2 class="text-center">Sign In</h2>
                <div class="row top-buffer">
                    <div class="col-md-8 col-md-push-2">
                        <button class="btn btn-default btn-lg btn-lg btn-block center-block">Google</button>
                    </div>
                </div>
                <div class="row top-buffer">
                    <div class="col-md-8 col-md-push-2">
                        <button class="btn btn-default btn-lg btn-block center-block">Facebook</button>
                    </div>
                </div>
                <div class="row top-buffer">
                    <div class="col-md-8 col-md-push-2">
                        <button class="btn btn-default btn-lg btn-block center-block">Twitter</button>
                    </div>
                </div>
                <div class="row top-buffer">
                    <div class="col-md-8 col-md-push-2">
                        <button class="btn btn-default btn-lg btn-block center-block">FourSquare</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row top-buffer">
            <div class="col-md-8 col-md-push-2">
                <h2 class="centered bottom-border">Mileage Tracking Simplified</h2>
            </div>
            <div class="col-md-12">
                <p class="centered">
                    Whether you would like to log your miles for tax deduction or as a personal hobby, MileIO is one of
                    the simplest mileage tracking and fleet management applications available out there.
                </p>
                <p class="centered">And, its free for use.</p>
            </div>
        </div>
    </div>
{% endblock %}